.container {
    background-color: teal;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
    }

        @media screen and (min-width: 480px) {
            .container {
                width: 480px;
            }
        }

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0 30px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}