:root {
    --font-family-main: "Roboto", sans-serif;
    --main-color: #fff;
    --accent-color: #FF6B08;
    --second-accent-color: #FF6B01;
    --extra-color: #000;
    --optional-color: #545454;
    --underline-color: #FF001B;
    --modal-title-color: #8C8C8C;
}