<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div class="footer__stringUp">
        <p class="footer__text">
          &#169; 2022
          <span class="footer__discription"> All Rights Reserved </span>
        </p>
      </div>
      <div class="footer__stringDown">
        <p class="footer__text">Developed with</p>
        <div class="heart"></div>
        <p class="footer__text">
          by <a class="footer__link" href="#"> GoIT Students </a>
        </p>
      </div>
    </div>
  </div>
</footer>
