<footer class="footer">
  <div class="container">
    <div class="footer-inscription">
         <div class="footer-allRights">
    <span class="footer-allRights__text"> &#169 2022 | All Rights Reserved |</span> 
    </div>
    <div class="footer-developedWith">
      <span class="footer-developedWith__text">Developed with</span>
      <svg class="heart" width="14" height="12">
              <use href="./images/sprite.svg#icon-heart"></use>
            </svg>
            <a class="footer-GoitStudents__text" href="#">by GoIT Students</a>
    </div> 
    </div>

    <!-- <button type="button" class="footer-allRights__button">
      <span> by GoIT Students</span>
    </button> -->
  </div>
</footer>
