<div class="backdrop is-hidden" data-close >
    <div class="modal">
        <button type="button" class="modal__close-btn" data-modal-close>
            <svg class="modal__close-icon">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal__render-box">
                    <button class="modal__watch-btn modal__btn" type="button">add to Watched</button>
                    <button class="modal__queueBtn modal__btn" type="button">add to queue</button>
        </div>
    
        </div>
    </div>
</div>
