<div class="backdrop is-hidden" data-close>
    <div class="modal">
                <div class="modal__render-box">
                </div>
        <button type="button" class="modal__close-btn" data-modal-close data-action="close">
            <svg class="modal__close-icon" tabindex="0">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal__box">
<button class="modal__watch-btn modal__btn" type="button" data-action="watch">add to watched</button>
<button class="modal__queueBtn modal__btn" type="button" data-action="queue">add to queue</button>
        </div>
    </div>
</div>