<section class="gallery container">
    <div class="unfilled-list disguise">
        <p class="unfilled-warning">Unfortunately, there are no films, but you can correct it. Let's go find something: <a class="unfilled-warning unfilled-warning--href" href="/src/index.html">Trand films</a></p>
        <img class="unfilled-image" src="/src/images/empty.jpg" alt="unfilled gallery" width="100%">
    </div>

        <h2 class="gallery__title visually-hidden">Gallery</h2>
        <ul class="gallery__list js-library"></ul>

</section>