.back-to-top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 100;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: var(--accent-color);
    color: var(--extra-color);
    cursor: pointer;
    border-radius: 2px;
    display: none;

    transition: background-color 250ms linear;
}

.back-to-top:hover {
    background-color: var(--modal-title-color);
}

.back-to-top--show {
    display: block;
}
