  .gallery {
        padding-top: 20px;
          padding-bottom: 40px;

          @media screen and (min-width:768px) {
      padding-top: 60px;
        padding-bottom: 60px;
          }
  }
  .gallery__list {
    min-height: 100%;
    margin: 0 auto;

    @media screen and (min-width:768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

         @media screen and (min-width:1280px) {
          margin: 0;
          justify-content: flex-start;
         }
  }

  .gallery__item {
    border-radius: 5px;
   @media screen and (max-width: 479px) {
    &:not(:last-child) {
        margin-bottom: 20px;
      }
   }

    @media screen and (min-width: 480px) {
      max-width: 440px;
    }

         @media screen and (min-width: 768px) and (max-width:1279px) {
          margin: 15px;
           max-width: 339px;
         }

        @media screen and (min-width: 1280px) {
        max-width: 395px;
        margin-top: 0;
        margin-left: 0;

        &:not(:nth-last-child(-n +2)) {
          margin-bottom: 30px;
        }

        &:not(:nth-child(3n + 3)) {
          margin: 0;
            margin-right: 15px;
          }
        }

        &:hover {
        transform: scale(1.03);
        box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
      }

      &:focus {
        transform: scale(1.03);
        box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
      }
  }

  .gallery__wrapper {
    position: relative;
    display: block;
    flex-grow: 1;
  }

  .gallery__img {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 767px;
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
  }

  .gallery__name {
    @include font-style(500, 12px, 14px, 0);
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--extra-color);

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  .gallery__year,
  .gallery__genres {
    display: inline-block;
    @include font-style(500, 12px, 14px, 0);
    color: var(--accent-color);

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  .gallery__vote {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--accent-color);
    color: var(--main-color);
    @include font-style(500, 12px, 14px, 0);
    align-items: center;
    padding: 4px 8px;
    border-radius: 0px 5px 0px 5px;

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  .gallery__genres::after {
    content: '|';
    margin-left: 4px;
  }